.card {
    // Styling for the card container
    margin: 1rem;
    transition: transform 0.3s ease-in-out;
    
    &:hover {
      // transform: scale(1.1);
      box-shadow: 0 0 20px rgba(0, 255, 255, 0.273);
      border-color: #00bbd47e;
      transition: transform 0.1s ease-in-out;
    }
    
    .MuiCardMedia-root {
      object-fit: cover;
    }
  }
  