.custom-tooltip {
  background-color: rgb(0, 0, 0);
  color: #fff;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  pointer-events: none;
  z-index: 1000;
  white-space: nowrap; // Prevent text from wrapping
}

.tooltip-title {
  font-weight: bold;
}

.tooltip-value {
  margin-top: 4px;
}
