// src/components/TourPackageCard/TourPackageCard.scss
.tour-package-card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 1rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tour-packages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0;
}


.tour-package-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.tour-package-info {
  padding: 1rem;
}

.tour-package-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.tour-package-description {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.tour-package-price {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.tour-package-buy-btn {
  background-color: #5d50c6;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #483d99;
  }
}


// src/components/Home/Home.scss
.home {
  .tour-packages {
    width: 100%;
    padding: 2rem;
    text-align: center;

    .tour-packages-container {
      display: flex;
      justify-content: space-around; // Adjust as needed
      align-items: flex-start; // Align items at the top
      flex-wrap: nowrap; // No wrapping to keep items in one row
      gap: 1rem; // Space between cards
    }
  }
}
