/* src/components/Header.scss */

header {
  width: 100%;
  background: transparent; /* Make sure the header background is transparent */
  height: 70px;
}

.mobile-nav-link{
  font-size: 200px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  width: 100%;
  height: 70px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 50px;
  width: 50px;
}

// .nav-links {
//   display: flex;
//   gap: 1rem;
// }

.nav-link {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem; /* Add padding for the border effect */
  // border: 2px solid transparent; /* Initially transparent border */
  transition: all 0.3s ease; /* Smooth transition for the hover effect */
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
}

.nav-link:hover {
  // border: 1px solid #8e9eab; /* Border color on hover */
  // background: linear-gradient(to right, #eef2f3, #8e9eab); /* Gradient background on hover */
  color: #ffffff; /* Change text color on hover */
}

/* Styles for Login and Signup buttons */
// .nav-link.login, .nav-link.signup {
//   border: 2px solid #f8f5f5; /* Border color */
//   border-radius: 15px; /* Curved border */
//   padding: 0.5rem 3rem; /* Add padding */
//   margin-right: 0.8rem; /* Add margin to separate the buttons */
// }

.nav-link.login {
  border: 1px solid #ffffff; /* Border color */
  border-radius: 25px; /* Curved border */
  padding: 0.5rem 1rem; /* Add padding */
  margin-right: 0.5rem; /* Add margin to separate the buttons */
  background-color: white; /* White background for login button */
  padding: 7px 25px;
}

.nav-link.signup {
  border: 1px solid #5D50C6; /* Border color */
  border-radius: 25px; /* Curved border */
  padding: 0.5rem 1rem; /* Add padding */
  background-color: #5D50C6; /* Light blue background for signup button */
  margin-right: 0; /* Remove margin for the last button */
  color: white;
  padding: 7px 25px;
  
}

.nav-link.login:hover {
  background-color: #5D50C6; /* Change border color on hover */
  border: 1px solid #5D50C6; /* Border color */
}

.nav-link.signup:hover{
  background-color: white;
  border: 1px solid #ffffff;
  color: black;
}

.menu-toggle {
  display: none;
}

.mobile-menu {
  display: none; /* Ensure the mobile menu is hidden by default */
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .mobile-menu {
    display: none; /* Ensure the mobile menu is hidden by default */
  }

  .mobile-menu.show {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
